@using MyOrganizationApp.Models
@Model Subscriber;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Abonelik Sonuçları</title>
</head>
<body>
		<h2>Sayın @Model.Name, Doğum Gününüz @Model.BirthDate, 
		kayıt için teşekkürler...</h2>
</body>
</html>

